<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>Hey there! I'm Stephanie Collins Chinaza, an enthusiastic web development student who's always up for a good challenge. Coding, coffee, and creative problem-solving are my fuel for success.</p>
      <p>Fun fact: I don't like cheese 🧀! Yep, no pizza toppings or cheesy snacks for me! But, I’m all about exploring new technologies and binge-watching the latest tech videos. My goal? To become a full-stack developer and build some truly awesome web experiences!</p>
      <p>In this project, I've created a simple blog system using Node.js and Express. It's all part of my journey to mastering backend development. Stay tuned for more as I continue to level up my skills! 🚀</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for new features, cool projects, and lots of surprises. You won't want to miss it! 😉</p>
  </aside>
</div>
