<div class="row">
    <div class="col-md-12">
        <h2>
            Categories
            <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
        </h2>
        <hr />

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/posts?category=1">1</a></td>
                        <td><a href="/posts?category=1">Kofi Prempeh</a></td>
                    </tr>
                    <tr>
                        <td><a href="/posts?category=2">2</a></td>
                        <td><a href="/posts?category=2">Life</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
